
.img{
    position: relative;
}
.hero {
    position: absolute;
    width: 60%;
    height:80vh;
    top:10.4%;
    background-color: #222222bd;
    color: #cf1839;
    font-size: 100px;
    font-weight: 20%;
    padding: 5%;
}
.hero-span{
    color: aliceblue;
}