
.img{
    position: relative;
    filter: brightness(50%);
}
.hero {
    position: absolute;
    width: 70%;
    height:80vh;
    top:14%;
    color: #cf1839;
    font-size: 100px;
    font-weight: 50%;
    padding: 5%;
    padding-left: 10%;
}
.hero-span{
    color: aliceblue;
}