* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

.nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 3rem;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav a {
    font-size: 1.025rem;
    text-decoration: none;
    background-color: #cf1839;
    color: aliceblue;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.3rem 0.7rem;
    border-radius: 3px;
}

.nav>a {
    font-size: 1.7rem;
    font-weight: bolder;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.7rem 0;
}


.nav li a:hover {
    color: black;
    transition: 0.3s ease;
}