.img-container{
    padding: 25px 45px;
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
}

.large{
    grid-row: span 2;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}  

.seemore {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.seemore a{
    position: absolute;
    color: #cf1839;
}

.seemore img{
    filter: brightness(30%);
    
}



